# Core
python>=3.8
numpy==1.26.4
pandas==2.2.2

# Visualization
plotly==5.21.0
matplotlib==3.8.4
seaborn==0.13.2

# NLP Preprocessing
nltk==3.8.1
regex==2024.4.16

# Model Evaluation / Machine Learning
scikit-learn==1.4.2
joblib==1.4.2

# Transformers / Tokenizers
transformers==4.40.1
tokenizers==0.19.1

# Optional: For notebooks
jupyterlab==4.2.0
